@page "/ai-game-slt"

<div class="ai-game-slt-page">
	<ul class="pt-5">
		<li>Difficulty Selection:</li>
		<li><a href="/ai-game/easy">Easy</a></li>
		<li><a href="/ai-game/medium">Medium</a></li>
		<li><a href="/ai-game/hard">Hard</a></li>
	</ul>
</div>