@page "/local-game"

<div class="local-game-page">
    <Board/>
    
    <div class="chess-message">
        <div class="black-wins check-mate-message fade-in">Black Wins</div>
        <div class="white-wins check-mate-message fade-in">White Wins</div>
    </div>
</div>


