@inject IUserService _userService;

@page "/login"

<div class="login-page">
  
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

		<div class="signup">
			<EditForm Model="@_userSignupModel" OnValidSubmit="OnValidSignupSubmitAsync">
				<label for="chk" aria-hidden="true">Sign up</label>
				
				@if (_signupFailed)
                {
                	<div class="validation-container">
                		<p style="color: red">User name is taken.</p>
                	</div>
                }
				
				<DataAnnotationsValidator/>
				<div class="input-container">
					<InputText class="input-text" type="text" @bind-Value="_userSignupModel.Username" placeholder="User name"/>
				</div>
				<div class="validation-container">
                    <ValidationMessage For="() => _userSignupModel.Username"/>
                </div>
				
				<div class="input-container">
					<InputText class="input-text" type="email" @bind-Value="_userSignupModel.Email" placeholder="Email"/>
				</div>
				<div class="validation-container">
                	<ValidationMessage For="() => _userSignupModel.Email"/>
                </div>
				
				<div class="input-container">
					<InputText class="input-text" type="password" @bind-Value="_userSignupModel.Password" placeholder="Password"/>
				</div>
				<div class="validation-container">
                    <ValidationMessage For="() => _userSignupModel.Password"/>
                </div>
				
				<button type="submit">Sign Up</button>
			</EditForm>
		</div>

		<div class="login">
			<EditForm Model="@_userLoginModel" OnValidSubmit="OnValidLoginSubmitAsync">
				<DataAnnotationsValidator/>
				<label for="chk" aria-hidden="true">Login</label>
				
				@if (_loginFailed)
				{
					<div class="validation-container">
						<p style="color: red">User name or password was invalid.</p>
					</div>
				}
				
            	<div class="input-container">
            		<InputText class="input-text" type="text" @bind-Value="_userLoginModel.Username" placeholder="User name"/>
            	</div>
            	<div class="validation-container">
                    <ValidationMessage For="() => _userLoginModel.Username"/>
                </div>
            	
            	<div class="input-container">
            		<InputText class="input-text" type="password" @bind-Value="_userLoginModel.Password" placeholder="Password"/>
            	</div>
            	<div class="validation-container">
                    <ValidationMessage For="() => _userLoginModel.Password"/>
                </div>
            	
            	<button type="submit">Login</button>
            </EditForm>
		</div>
	</div>
</div>


@code {
	private readonly UserSignupModel _userSignupModel = new();
	private readonly UserLoginModel _userLoginModel = new();
	
	private bool _loginFailed;
	private bool _signupFailed;

	private async Task OnValidLoginSubmitAsync()
	{
		UserModel? user = await _userService.GetAsync(_userLoginModel.Username);
		if (user is null || user.Password != _userLoginModel.Password)
		{
			_loginFailed = true;
		}
	}
	
	private async Task OnValidSignupSubmitAsync()
	{
		HttpResponseMessage response = await _userService.CreateAsync(new UserModel
		{
			Username = _userSignupModel.Username,
			Email = _userSignupModel.Email,
			Password = _userSignupModel.Password
		});

		if (!response.IsSuccessStatusCode)
		{
			_signupFailed = true;
		}
	}
}