@using ChessWebApp.UI.Services
@inject IBoardService _boardService

<div class="chess-table" style=@($"flex-wrap: wrap{ReversedCss}")>
    @for (int i = 0; i < _boardService.NumberOfTiles; i++)
    {
        <PieceBox IsWhite=@IsPieceBoxWhite(i)/>
    }
</div>
