@using ChessWebApp.UI.Services
@using ChessWebApp.ChessEngine.BoardLib
@inject IBoardService _board

<div class="chess-table" style=@($"flex-wrap: wrap{ReversedCss}")>
    @foreach (Tile tile in _board.Board)
    {
        <PieceBox Tile=@tile 
                  IsWhite=@IsPieceBoxWhite(tile.TileCoordinate) 
                  IsSelected=@IsTileSelected(tile)
                  IsLegalMove=@IsTileLegalMove(tile)
                  OnUpdate="StateHasChanged"/>
    }
</div>
