@using ChessWebApp.UI.Services
@using ChessWebApp.ChessEngine.PieceLib
@using ChessWebApp.ChessEngine.MoveLib

@inject IBoardService _board

<div id="@Tile.TileCoordinate" class="piece-box @_colour-box @SelectedCss @LegalMoveCss" @onclick="OnClick">
    @if (Tile.Piece is not Empty)
    {
        <img class="piece" src=@($"img/{PieceColour}-{PieceSymbol}.png") alt=@PieceSymbol/>
    }
    <span class="piece-box-text">@Tile.TileCoordinate</span>
</div>
